body{
    margin-top:20px;
    background:#FAFAFA;
    font-family: 'Poppins', sans-serif;
}
.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    /* margin-bottom: 30px; */
    /* -webkit-transition: all 1s ease-in-out; */
    /* transition: all 0.3s ease-in-out; */
}

.card .card-block {
    padding: 30px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.cardhover
{
    flex-basis: 23%;
    cursor: pointer;
}
.cardhover:hover {
    transform: scale(1.05); /* Increase size on hover */
    transition: transform .5s ease; /* Add smooth transition */
    /* padding:0; */
    /* border: none; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}
/* ------Top Section Dashboard------- */
.topsection
{
    margin-top: 25px;
    margin-left: 2%;
    margin-bottom: 20px;
}
.topsection .img1
{
    width: 40px;
    height:35px;
    /* background:#4099ff; */
    margin-right: 10px;
}
.topsection .img2
{
    margin-left: 20px;
    width: 40px;
    height:35px;
    margin-right: 10px;
    /* background:#4099ff; */
}
.topsection .img3
{
    margin-left: 20px;
    width: 35px;
    height:35px;
    margin-right: 10px;
    /* background:#4099ff; */
}
.topsection p{
    font-weight: 1000;
    font-size: small;
    cursor: pointer;
}
/* ---------Tiles-------- */
.card .card-bloc
{
    padding: 4px;
}
